@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&family=Spectral+SC:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --white: #f7f7f7;
    --black: #0a0a0a;
    --light-gray: #4d4d4d;
    --gray: #262626;
    --font-family-2: "Spectral SC";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: transparent;
    text-decoration: none;
    font-weight: 400;
    font-family: "Sora";
}

button:active,
li:active,
a:active {
    transform: scale(0.98);
}

a span {
    transition: 0.2s;
}

a span:hover {
    color: var(--light-gray);
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../img/backgrounds/background-wallpaper.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    overflow-x: hidden;
}

/* End of Common Styles */

/* Section 1 */
.section-1 {
    height: 100vh;
    padding: 0 7.5rem;
    overflow: hidden;
    position: relative;
}

.section-1-bg {
    position: absolute;
    z-index: -1;
    height: 130%;
    right: -13rem;
    top: -14rem;
}

.section-1-bg img {
    object-fit: contain;
    height: 100%;
}

/* Section 1 Navbar */

.navbar {
    display: flex;
    align-items: center;
    height: 8rem;
    margin-top: 1.8rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: all 0.3s ease-in;
    background-color: transparent;
    padding-left: 7.5rem;
}

.navbar.desktop {
    height: 5rem;
    margin-top: 0;
    background-color: #222222c7;
    box-shadow: 0px 2px 15px black;
    z-index: 1000;
    inset: 0;
}

.navbar.desktop .logo {
    width: 3rem;
    filter: drop-shadow(0rem 0rem 0.2rem var(--white));
}

.navbar.desktop .navbar-list {
    margin-top: 0rem;
}

.navbar .logo {
    object-fit: contain;
    width: 7.5rem;
    margin-right: 7.5rem;
    cursor: pointer;
    filter: drop-shadow(0rem 0rem 0.4rem var(--white));
    transition: all 0.3s ease-in;
}

.navbar .logo:active {
    transform: scale(0.98);
}

.navbar-list {
    margin-top: 1rem;
    display: flex;
    gap: 6rem;
    width: 100%;
}

.navbar-list_link {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
    transition: color 0.4s;
    user-select: none;
    letter-spacing: 0.1rem;
}

.navbar-list_link:hover {
    color: var(--light-gray);
}
/* End of Section 1 Navbar */
/* Section 1 Content */
.section-1-content {
    color: var(--white);
    font-family: "Spectral SC";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.section-1-heading {
    font-family: inherit;
    font-size: 9rem;
    font-weight: 700;
    letter-spacing: 1rem;
}

.section-1-subtitle {
    font-size: 3.2rem;
}
.link {
    font-family: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    border-bottom: 1px solid var(--white);
}

.section-1-content span {
    font-family: inherit;
    color: inherit;
    border-bottom: 1px solid var(--white);
    font-size: 1.8rem;
}
/* End of Section 1 Content */
/* End of Section 1 */

/* Section 2 */
.section-2 {
    min-height: 100vh;
    padding: 6rem 7.5rem;
}

.section-heading {
    text-transform: uppercase;
    color: var(--white);
    font-size: 4.2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.05em;
    font-family: var(--font-family-2);
}

.mySwiper {
    margin-top: 5rem;
}

swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
}

swiper-slide > div {
    width: 25rem;
    height: 70rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: 0.2s;
}

swiper-slide img:hover {
    filter: grayscale(0);
}

.links {
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin-top: 8rem;
}

.links a {
    font-family: var(--font-family-2);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.8rem;
    color: var(--white);
    padding: 2rem 0;
    border-bottom: 1px solid var(--white);
}

.links a span {
    font-family: inherit;
    border-bottom: 1px solid var(--white);
}
/* End of Section 2 */

/* Section 3 */
.section-3 {
    min-height: 100vh;
    padding: 6rem 7.5rem;
}
.artistas-wrapper {
    margin: 9.5rem 0;
    display: flex;
    justify-content: center;
    gap: 2.2rem;
}
.artista {
    display: flex;
    flex-direction: column;
    width: 38.8rem;
    gap: 1rem;
    color: var(--white);
}
.artista > img {
    object-fit: contain;
    width: 100%;
}

.artista .name {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
}

.artista > p {
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    line-height: 2.6rem;
}

.instagram-link {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    border-bottom: 1px solid var(--white);
    width: fit-content;
    margin-top: auto;
}

.instagram-link > img {
    width: 2rem;
    height: 2rem;
}

.instagram-link > img:last-child {
    width: 1rem;
    height: 1rem;
}

.section-3-content {
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    color: var(--white);
    padding: 2rem 4rem;
    margin: 0 auto;
    background: rgba(38, 38, 38, 0.4);
    border-radius: 2rem 2rem 0 0;
    width: 80%;
}
/* End of Section 3 */

/* Section 4 */
.section-4 {
    height: 100%;
    padding: 6rem 7.5rem;
    color: var(--white);
}

.section-4-subtitle {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2.5rem;
}

.client-cards {
    margin-top: 5rem;
    display: grid;
    place-content: center;
    grid-template-columns: auto auto auto;
    column-gap: 1rem;
    row-gap: 2rem;
}

.card {
    background-color: var(--gray);
    width: 42rem;
    height: 22rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.card-profile {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.card-profile img {
    object-fit: contain;
    width: 7.5rem;
}

.card-profile p {
    font-size: 1.8rem;
    letter-spacing: 0.05em;
}

.card-profile .client-feedback-rate {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}
.card .card-profile .client-feedback-rate i {
    transition: color 0.5s linear;
}
.card:hover .card-profile .client-feedback-rate i {
    color: goldenrod;
}

.feedback {
    font-size: 1.6rem;
    margin-top: 2.5rem;
    margin-left: 1rem;
    letter-spacing: 0.05em;
}

.section-4-links {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.opinion .link {
    color: var(--white);
    font-family: var(--font-family-2);
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-decoration-line: underline;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--white);
    transition: 0.2s;
}

.opinion .link:hover {
    color: var(--light-gray);
}

.icons-links {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

/* End of Section 4 */

/* Section 5 */
.section-5 {
    height: 100vh;
    padding: 6rem 7.5rem;
    color: var(--white);
}

.faqs {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    column-gap: 10rem;
    row-gap: 4rem;
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 42rem;
    height: 17rem;
    border-bottom: 1px solid var(--white);
}

.faq p {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.faq span {
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    margin-bottom: 1rem;
}
/* End of Section 5 */

/* Section 6 */
.section-6 {
    height: 100vh;
    padding: 6rem 7.5rem;
    color: var(--white);
}

.content {
    margin: 7rem 0;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.map-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.map {
    width: 75rem;
    height: 44rem;
    filter: grayscale(1);
    transition: filter 0.4s;
    border-radius: 2.5rem;
}

.map:hover {
    filter: grayscale(0);
}

.map-info p,
.map-info span {
    margin-left: 2rem;
}

.map-info p {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.map-info span {
    font-size: 1.6rem;
    color: var(--light-gray);
}

.time-info {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.time-info span {
    font-size: 1.6rem;
    letter-spacing: 0.05em;
}

.time-info .icons-links {
    gap: 1rem;
    margin: 2rem 0;
}

.time-info .link {
    width: max-content;
    font-family: var(--font-family-2);
    padding: 0;
    padding-bottom: 1rem;
}

.time-info .link span {
    font-size: 1.8rem;
    font-family: inherit;
    text-decoration-line: underline;
}
/* End of Section 6 */

/* Footer */
.footer {
    height: auto;
    display: grid;
    place-items: center;
    color: var(--white);
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer img {
    object-fit: contain;
    width: 11rem;
    filter: drop-shadow(0rem 0rem 0.2rem var(--white));
}

.footer h1 {
    font-size: 4.2rem;
    font-family: var(--font-family-2);
    letter-spacing: 0.15rem;
}

.footer p {
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
}
/* End of Footer */

/* Responsive */
@media screen and (max-width: 1400px) {
    html {
        font-size: 58%;
    }

    .section-3-content {
        margin-top: 17rem;
    }
}

@media screen and (max-width: 1300px) {
    html {
        font-size: 55%;
    }
    .section-heading {
        font-size: 6rem;
    }
    .section-3-content {
        font-size: 2rem;
    }
    .section-4-subtitle {
        font-size: 2rem;
    }
    .faq {
        height: 25rem;
        width: 48rem;
    }

    .faq p {
        font-size: 2.5rem;
    }
    .faq span {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 1100px) {
    html {
        font-size: 50%;
    }

    .card {
        width: 38rem;
    }
}

@media screen and (max-width: 950px) {
    html {
        font-size: 50%;
    }

    .section-1-bg {
        height: 130%;
        right: -20rem;
        top: -14rem;
    }

    .navbar-list {
        gap: 2rem;
    }
    .navbar-list_link {
        text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    }
    .card {
        width: 32rem;
    }
    .faq {
        height: 22rem;
        width: 35rem;
    }

    .faq p {
        font-size: 1.8rem;
    }
    .faq span {
        font-size: 1.6rem;
    }
    .section-6 {
        height: 100vh;
    }
    .content {
        flex-direction: column;
    }
}
@media screen and (min-width: 801px) {
    .logo.mobile,
    .navbarMobile,
    .icon,
    .artistas-wrapperMobile,
    .section-4-links .vejaMais,
    .client-cardsMobile,
    .faqsMobile,
    .footerMobile,
    .dots,
    .seeLess,
    .seeMore,
    #toggle,
    .section-1-content .link:nth-of-type(3)  {
        display: none;
    }

    .toggleText{
        display: inline;
    }
    .section-2, .section-4, .section-6{
        transform: translateX(-2500px);
        
    }

    .section-3, .section-5{
        transform: translateX(2500px);
        
    }

    .section-2.translate, .section-3.translate, .section-4.translate, .section-5.translate, .section-6.translate{
        transform: translateX(0);
        transition: transform 0.5s ease-out;
    }

    @keyframes load {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .navbar-list_link, .section-1-heading, .section-1-subtitle, .section-1-content .link{
        opacity: 0;
        animation: load 1s ease forwards;
    }

    .section-1-bg{
        opacity: 0;
        animation: load 1s 1.4s ease forwards;
    }

    .logo{
        opacity: 0;
        animation: load 1s 0.2s ease forwards;
    }

}
@media screen and (max-width: 800px) {
    .navbar,
    .navbar.active,
    .section-2,
    .artistas-wrapper,
    .section-4-subtitle,
    .section-4-links .icons-links,
    .faqs {
        display: none;
    }
    .section-heading {
        font-size: 3rem;
        margin: 5rem 0;
    }
    .section-3,
    .section-4,
    .section-5,
    .section-6 {
        min-height: auto;
        height: auto;
        padding: 3rem;
    }

    body {
        background-color: var(--black);
        background-image: none;
    }
    html {
        font-size: 52%;
    }
    /* Section 1 */
    .section-1 {
        height: 100dvh;
        padding: 0 3rem;
    }
    .section-1-bg {
        height: 120%;
        right: -14%;
    }
    .section-1-bg img {
        object-fit: contain;
        filter: brightness(0.5);
    }
    .section-1-content {
        justify-content: flex-end;
        top: initial;
        bottom: 10%;
    }
    .section-1-subtitle {
        letter-spacing: 0.1rem;
        font-weight: 200;
    }
    .section-1-content a {
        margin: 2rem 0;
        letter-spacing: 0.1rem;
    }
    .section-1-content a:first-of-type {
        margin: 2rem 0;
    }
    .link:nth-of-type(2) {
        display: none;
    }
    .section-1-content span {
        border: none;
        font-size: 2.2rem;
    }
    /* End Section 1 */
    /* Navbar */
    .logo.mobile {
        margin-top: 5rem;
        margin-left: 2rem;
        width: 6rem;
        height: 6rem;
    }

    .navbarMobile {
        position: fixed;
        z-index: 1;
        height: 100dvh;
        top: -100dvh;
        right: -100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        transition: 0.6s;
        border-radius: 100%;
    }
    .navbarMobile.active {
        top: 0;
        right: 0;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1000;
    }
    .navbar-listMobile {
        height: 100%;
        color: white;
        display: grid;
        place-content: center;
        gap: 2rem;
        text-transform: uppercase;
        font-family: var(--font-family-2);
    }

    .navbar-list_linkMobile {
        font-size: 4rem;
        font-family: inherit;
        opacity: 0;
        visibility: hidden;
    }

    .navbarMobile.active .navbar-list_linkMobile {
        opacity: 1;
        visibility: visible;
        transition: 0.4s 0.6s;
    }

    .buttonToggle {
        cursor: pointer;
        border: none;
        background-color: transparent;
        position: fixed;
        width: 30px;
        height: 30px;
        right: 5rem;
        top: 5rem;
        z-index: 1000;
    }
    .line {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 3px;
        height: 30px;
        background-color: var(--white);
        transform-origin: center;
        transition: 1s;
    }
    .line1 {
        transform: translate(-50%, -20%) rotate(-90deg);
    }
    .line2 {
        transform: translate(-50%, -50%) rotate(-90deg);
    }
    .line3 {
        transform: translate(-50%, -80%) rotate(90deg);
    }
    .buttonToggle.active .line1 {
        transform: translate(-50%, -50%) rotate(-225deg);
    }
    .buttonToggle.active .line2 {
        transform: translate(-50%, -50%) rotate(225deg);
    }
    .buttonToggle.active .line3 {
        transform: translate(-50%, -50%) rotate(225deg);
    }
    /* End of Navbar */

    /* Section 3 */
    .artistaMobile {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .artistaMobile .name {
        color: var(--white);
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 0.05rem;
    }
    .artistaMobile > img {
        object-fit: contain;
        width: 100%;
    }
    .section-3-content {
        width: 100%;
        margin-top: 5rem;
    }
    .seeLess,
    .seeMore,
    .toggleText {
        display: none;
    }
    .seeLess.show,
    .seeMore.show {
        display: inline;
        color: var(--light-gray);
        text-decoration: underline;
    }

    /* End Section 3 */

    /* Section 4 */
    .client-cards {
        grid-template-columns: auto;
    }
    .card {
        width: 95%;
        margin: 0 auto 2rem;
    }
    .card:nth-of-type(5),
    .card:nth-of-type(4),
    .card:nth-of-type(6) {
        display: none;
    }
    .section-4-links {
        margin-top: 5rem;
        gap: 5rem;
    }
    .section-4-links .opinion .link,
    .vejaMais .link span {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        text-decoration-line: unset;
        padding: 0 1rem;
        font-family: var(--font-family-2);
        font-weight: 700;
    }
    .vejaMais .link span {
        padding: 0;
    }
    .vejaMais .link {
        padding: 0 1rem;
        padding-bottom: 0.1rem;
        gap: 2rem;
    }
    .vejaMais .link img {
        width: 10px;
        height: 10px;
    }
    /* End Section 4 */

    .faqsMobile {
        display: grid;
        height: 100%;
        place-content: center;
    }
    .faqsMobile .faq {
        width: 100%;
        height: auto;
        margin-bottom: 4rem;
    }
    .faq .question {
        display: flex;
        gap: 2rem;
        align-items: center;
    }
    .question i {
        font-size: 20px;
        transition: 0.4s;
    }
    .faq.show i {
        transform: rotate(180deg);
    }
    .faq span {
        height: 0;
        overflow: hidden;
        margin: 2rem 0;
    }
    .faq.show span {
        height: auto;
    }
    /* End of Section 5 */
    
    /* Section 6 */
    .map {
        width: 100%;
    }
    .time-info {
        margin-left: 2rem;
    }
    .section-6 .icons-links,
    .section-6 .link {
        display: none;
    }
    /* End of Section 6 */
    /* footer */
    .footer {
        height: auto;
        margin-bottom: 15rem;
    }
    .footer .icons-links {
        justify-content: center;
    }
    .footer .icons-links a img {
        width: 30px;
        object-fit: cover;
    }

    .footer .link span {
        font-size: 20px;
        letter-spacing: 0.1rem;
        text-decoration-line: unset;
        padding: 0;
        font-family: var(--font-family-2);
        font-weight: 700;
    }
    .footer .link {
        padding: 0 1rem;
        padding-bottom: 0.4rem;
        gap: 2rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .footer .link img {
        width: 15px;
        height: 15px;
    }
    /* end footer */
}   
@media screen and (max-width: 600px) {
    .section-1-bg {
        height: 100%;
        right: -42%;
        top: -5rem;
    }
    .section-1-content {
        bottom: 20%;
        transform: translateY(0);
    }
    .section-1-heading {
        font-size: 5rem;
    }
    .section-1-content a:last-of-type {
        margin: 0rem 0;
        letter-spacing: 0.1rem;
    }
    .section-1-bg img {
        height: 110%;
    }
}
